body{
    font-family: 'Lucida Sans Unicode';
}
div{
    border: 1px solid slategray;
    padding: 1em;
    display: inline-block;
    width: 900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
nav{
    float: left;
}
ul{
    list-style: none;
}
li{
    border-style: solid;
    border-width: 0.5px;
    border-color:slategray;
    color:rgb(39, 39, 39);
    text-align: center;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 15px;
    background-color: chartreuse;
}
li:hover{
    background-color: sienna;
}
h1{
    font-weight: bold;
    color: green;
    text-align: center;
}
h2{
    font-weight: bold;
    color: greenyellow;
    border-bottom: 1px solid slategray;
}
h3{
    font-weight: bold;
    color: sienna;
}
