body{
    font-family: 'Lucida Sans Unicode';
}
main{
    border: 1px solid slategray;
    padding: 1em;
}
h1{
    font-weight: bold;
    color: green;
}
h2{
    font-weight: bold;
    color: greenyellow;
    border-bottom: 1px solid slategray;
}
h3{
    font-weight: bold;
    color: sienna;
}
